
img.position {
  display: flex;
  float: center;
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;
  width: 80px;
  height: auto;
  padding: 8px;
  
}

div.search {
  display: flex;
  color: black;
  text-align: center;
  vertical-align: center;
  padding-top: 18px;  
  font-size: 16px;
  width: 100%
}

div.search input[type=text] {
  float: left;
  padding: 6px;
  border: none;
  width: 100%
  
}



div.sidePane{
  background-color: #efeff5;
  float: left;
  width: 25%;
  max-height: 1024px;
  max-height: auto;
  overflow: auto;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}


div.centerPane {
  float: left;
  width: 50%;
 
  max-height: 680px;
 /* border-style: solid;
  border-color: red; */
  margin: 0px 20px 20px 20px;
  padding: auto;
  
}

div.pictureFrame {
 
  height: 450px;
  text-align:   center;
  display:  block;
  margin: 10px 20px 10px 20px;
  background-color: #e6e6ff;
  padding: 10px  10px  10px  10px;
  background-image: url("https://static.wixstatic.com/media/a26c81_2c075568e2324659a32d95857ec77224~mv2_d_2680_1780_s_2.jpg");
  background-repeat: no-repeat;
  background-size: 710px 472px;
}
div.pictureFrame1 {
  height: 450px;
  text-align:   center;
  display:  block;
  margin: 10px 20px 10px 20px;
  background-color: #e6e6ff;
  padding: 10px  10px  10px  10px;  
  float: center;
}

img.fillwidth {
    min-width: auto;
    max-width: auto;
    min-height: 450px;
    max-height: 450px;


  }


.textStyle1 {
  text-align:   center;
  text-transform:   uppercase;  
  word-spacing:   10px;
  font-family:  Comfortaa;
  color:  white;
  font-size:  20px;
  font-weight:  bold;
  letter-spacing:   0px;
  vertical-align:   center;
}

.textStyle2 {
  text-align:   left;
  word-spacing:   6px;
  font-family:  Comfortaa;
  color: #52527a;
  font-size:  20px;
  font-weight: bold;
  letter-spacing:   4px;
  vertical-align:   center;
}

div.menuDetailContainer {
overflow: hidden; 
display: flex; 
padding: 10px;
}

div.menuDetails {
  background-color: #52527a;
  width:  100%;
  margin: 5px 5px 5px 5px;

 }


div.recepieList {
  width:  100%;
  height:   auto;  
  margin: 5px 5px 5px 5px;
}

img.cropper {
    width: 80px;
    height: 80px;
    position: center;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 15px;
    border-style: solid;
    border-color: #52527a;
    border-width: 4px;
}

div.flexerContainer {
 display: flex;
}

div.flexerDetail {
 max-width: 60%;
 float: left;
 margin-left: 30px;
 word-wrap: auto;
  font-family:  Comfortaa;
  color: #52527a;
  font-size:  14px;
  vertical-align: center;
}

div.ingredients {
  height:   auto;
  width:  100%;
  margin: 5px 10px 5px -10px;
  font-family:  Comfortaa;
  color: #52527a;
  font-size:  16px;
  vertical-align:   center;
  line-height: 200%;
}

ul.list {
    display: block;
    list-style-image: url("https://cdn0.iconfinder.com/data/icons/user-interface-vol-3-12/66/75-24.png");
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    border-image-width: 5px;
    background-size: 40px;
}

